.config-title {
    font-size: 2em;
    cursor: default;
}

.config-details {
    cursor: default;
    margin: 16px;

    > summary {
        margin-left: -8px;
        margin-bottom: 8px;
    }
}

.config-directory-input input {
    margin-left: 16px;
}

.config-return {
    margin-top: -16px;
    margin-bottom: 32px;
}

.config-return .config-link-button::before {
    content: "\219A  ";
}

.config-link .config-link-button::before {
    content: "\219B  ";
}

.config-link-button {
    font-size: 1.5em;
}