/* Config menu */

.config-title {
     font-size: 2em;
        cursor: default;
    text-align: center;
}

.config-details {
    cursor: default;
    margin: 16px;

    > summary {
          margin-left: -8px;
        margin-bottom: 8px;
    }
}

.config-directory-input input {
    margin-left: 16px;
}

/* Link back to previous menu */
.config-return {
       margin-top: 0;
    margin-bottom: -30px;
}

/* Looks like leaving a directory */
.config-return .config-link-button::before {
    content: "\219A  ";
}

/* Looks like entering a directory */
.config-link .config-link-button::before {
    content: "\219B  ";
}

.config-link-button {
    font-size: 1.5em;
}