/* Primary content containers */

#main {
    --controls-height: 4rem;
         --view-split: 30vw;

    > #controls {
               bottom: 0;
                width: calc( 100vw - var(--view-split) );
               height: var(--controls-height);
            font-size: calc( var(--controls-height) / 2 );
           text-align: center;
        align-content: center;
           background: linear-gradient( oklch(0% 0% 0deg / 0%), oklch(0% 0% 0deg / 50%) );
        
        button {
            font-size: 1em;
               margin: 0 0.25em;
        }
    }

    > section {
        height: 100vh;
    }

    > #visualizer {
        background: oklch(0% 0% 0deg);
             width: calc(100vw - var(--view-split));

        > canvas {
            background: inherit;
                 width: 100%;
                height: 100%;
               display: block;
        }
    }

    > #library,
    > #config {
        right: 0;
        width: var(--view-split);
    }
}

/* Rearrange containers based on view mode */

#main.view-visualizer {
    > #visualizer,
    > #controls {
         width: 100vw;
    }

    > #library,
    > #config {
        display: none;
    }
}

#main.view-library {
    > #config {
        display: none;
    }
}

#main.view-config {
    > #library {
        display: none;
    }
}